red/error_messages', object: @micropost %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.file_field :link %>
  </div>
  <div class="field">
   <%= f.label :tag_list, "Tags (separate by commas)" %>
   <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :isarticle %><br>
    <%= f.radio_button :isarticle %>
  </div>
  <div class="field">
    <%= f.label :ismedia %><br>
    <%= f.radio_button :ismedia %>
  </div>
  <div class="field">
    <%= f.label :isevent %><br>
    <%= f.radio_button :isevent %>
  </div>
  <div class="field">
    <%= f.label :isresource %><br>
    <%= f.radio_button :isresource %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button-secondary pure-button" %>
  </div>
<% end %>
